* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=====================
  Header
=========================*/

header {
    background: white;
    padding: 20px;
    heigh: 100px;
    position: relative;
    top: 0px;
    width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: 'Krona One', sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff107d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff107d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-container {
    display: inline-block;
    float: left;
    margin: 0 auto;

}

.logo-container a:hover {
    background: none;
}

/*========================================


  Universal Styling


===========================================*/

@font-face {
  font-family:'caviardreams';
  src: url('../fonts/caviardreams.ttf');
}

body {
  background: white;



}

h1, h2, h3 {
  font-family: 'Krona One', sans-serif;
}

h1 {
  background-color: white;
  color: black;
  font-size: 50px;
  letter-spacing: .3em;
  text-decoration: overline underline;
  text-transform: uppercase;
  text-align: right;
}

h2 {
  background-color: white;
  font-size: 35px;
  text-align: center;
  color: black;

  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 50px;
  border: 10px double #000;
}

p {
  font-family:'caviardreams', helvetica;
  font-color: white;
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

p{
  text-align: center;
  margin-bottom: 15px;
}

section {
  background-color: black;
  opacity: .85;

  font-family: caviardreams, serif;
  color: white;
  letter-spacing: .25em;

  width: 30%;
  margin: 30px;
  padding: 20px;
  border-radius: 50px;
  float: right;
  display: inline-block;

}

/*========================================


  Vehicle Page Styling


===========================================*/

.vehiclepage {
  float: left;
  margin-right: 10px;
  padding: 10px;
  clear: both;
}

.posydon,
.phanta,
.henry {
  margin-top: 35px;
  padding: 20px;
  font-family: caviardreams, serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  width: 100%;
  opacity: 100%;
}


.posydon {
  background: #fff7ea;
  color: #003fae;
}

.phanta {
  background: #ffddd0;
  color: black;
}

.henry {
    background: #eff9b3;
    color: black;
}
/*=====================
  Images - Lightbox
=========================*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: inline;
}

.gallery {
  display: inline-block;
}

/*=====================
  Animation
=========================*/

.pizzalogo {
  position: absolute;
  top: 80px;
  left: 800px;
  animation: drive 15s forwards infinite linear;
}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1000px);
  }
}

/*=====================
  Contact Form
=========================*/

.contact-form {
  background: black;
  opacity: .85;
  padding: 15px;
  max-width: 500px;
  border-radius: 10px;
  color: white;
  font-family: 'caviardreams', helvetica;
  margin: 0 auto;
  text-align: left;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
}

label:first-letter {
  font-size: 1.5em;
  font-weight: bold;
}

.reset input,
.submit input {
  background: white;
  color: black;
  padding: 10px 15px;
  display: inline;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin-bottom: 15px;
}


input {
  padding: 10px;
  border-radius: 10px;
}

input::placeholder {
  color: lightgray;
  font-size: 1.2em;
  font-style: italic;
}

textarea {
  font-family: 'caviardreams', helvetica;
  padding: 10px;
}

select {
  width: 185px;
  border-radius: 10px;
}

/*=====================
Details/Summary
=========================*/

}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;

}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
    background: white;
    color: black;

}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;

}
/*=====================
  Footer
=========================*/

  footer {
      background: black;
      color: white;
      opacity: .85;
      text-align: center;
      padding: 20px 10px;
      clear: both;
      width: 100%;
      margin: 0 auto;
    }

  footer a {
      color: white;
      font-size: 25px;
      margin: 0 5px;
      transition: .3s;
  }

  footer a:hover {
      color: #ff107d;
      transition: .3s;
  }

  .website {
      margin-bottom: 15px;
  }
