* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=====================
  Header
=========================*/

header {
    background: white;
    padding: 20px;
    heigh: 100px;
    position: relative;
    top: 0px;
    width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: 'Krona One', sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff107d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff107d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo-container {
    display: inline-block;
    float: left;
    margin: 0 auto;

}

.logo-container a:hover {
    background: none;
}

/*========================================


  Universal Styling


===========================================*/

@font-face {
  font-family:'caviardreams';
  src: url('../fonts/caviardreams.ttf');
}

body {
  background: white;

}

h1, h2, h3 {
  font-family: 'Krona One', sans-serif;
}

h1 {
  background-color: white;
  color: black;
  font-size: 50px;
  letter-spacing: .3em;
  text-decoration: overline underline;
  text-transform: uppercase;
  text-align: right;
}

h2 {
  background-color: white;
  font-size: 35px;
  text-align: center;
  color: black;

  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 50px;
  border: 10px double #000;
}

p {
  font-family:'caviardreams', helvetica;
  font-color: white;
  font-size: 16px;
}
/*========================================

CHECK H2



h2:before, h2:after {
  font-family: "Some cool font with glyphs", serif;
  content: "\00d7";  /* Some fancy character */
  color: #c83f3f;
}
h2:before {
  margin-right: 10px;
}
h2:after {
  margin-left: 10px;
}

===========================================*/

h3 {
  font-size: 20px;
}

section {
  background-color: black;
  opacity: .85;

  font-family: caviardreams, serif;
  color: white;
  letter-spacing: .25em;

  width: 30%;
  margin: 11px;
  padding: 20px;
  border-radius: 50px;
  float: right;
  display: inline-block;

}

/*========================================


  Vehicle Page Styling


===========================================*/

.vehiclepage {
  float: left;
  margin-right: 10px;
  padding: 10px;
  clear: both;
}

.posydon,
.phanta,
.henry {
  margin-top: 35px;
  padding: 20px;
  font-family: caviardreams, serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  width: 100%;
  opacity: 100%;
}


.posydon {
  background: #fff7ea;
  color: #003fae;
}

.phanta {
  background: #ffddd0;
  color: black;
}

.henry {
    background: #eff9b3;
    color: black;
}

/*=====================
  Animation
=========================*/
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
.pizzalogo {
  position: absolute;
  top: 730px;
  left: 0px;
  animation: drive 15s forwards infinite linear;
}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1000px);
  }
}
